@keyframes floatRandom {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(5px, -8px) rotate(1deg);
  }

  50% {
    transform: translate(-7px, 6px) rotate(-1deg);
  }

  75% {
    transform: translate(4px, 10px) rotate(0.5deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.floatRandom{
    animation: floatRandom 6s ease-in-out infinite;
}